body {
    color: #dacdcd;
    font-family: 'Inter', sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    max-width: 1080px;
    background-image: url("../img/LogoPorscheFundo.jfif");
    background-size: cover;
    background-color: #f2f2f2;
}

nav {
    overflow: hidden;
    background-color: #111010;
    border-bottom: 3px solid #bf031c;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul a {
    float: left;
    color: #ffffff;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    transition: background-color 0.2s ease, color 0.2s ease;
}

nav ul a:hover:not(.active) {
    background-color: #2b2b2b;
    color: #ffffff;
    font-weight: bold;
}

nav ul li a.active {
    background-color: #d5001c;
    color: #ffffff;
    font-weight: bold;
}

.photo-card {
    background-color: #111111;
    width: 100%;
    max-width: 920px;
    margin: 30px auto;
    padding: 15px;
    color: #ffffff;
    border-top: 4px solid #d5001c;

    display: flex;
    gap: 20px;
    box-sizing: border-box;
}

.intro-photo {
    width: 50%;
    height: 450px;

    padding: 20px;
    margin: 0;

    border-radius: 12px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    position: relative;
    overflow: hidden;

    box-sizing: border-box;

    box-shadow: 0 12px 35px rgba(52, 48, 48, 0.45);
}


/* Porsche 911 */
#intro1 {
    background-image:
        linear-gradient(
            to top,
            rgba(0, 0, 0, 0.85),
            rgba(0, 0, 0, 0.15)
        ),
        url("../img/intro-porsche2.jpg");

    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


/* Porsche Taycan */
#intro2 {
    background-image:
        linear-gradient(
            to top,
            rgba(0, 0, 0, 0.85),
            rgba(0, 0, 0, 0.15)
        ),
        url("../img/Intro-Porsche1.jpg");

    background-position: center center;
    background-size: 100% 100%;
}


.intro-photo h1 {
    position: relative;
    color: #ffffff;

    font-size: 1.8rem;
    line-height: 1.2;

    margin: 0 0 10px 0;

    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
}


.intro-photo p {
    position: relative;
    color: #ffffff;

    font-size: 1rem;
    line-height: 1.5;

    margin: 0;

    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
}


/* Tabela */
main {
    background-color: rgba(99, 12, 12, 0.803);
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

table td {
    width: 25%;
    padding: 15px;
    vertical-align: middle;
    box-sizing: border-box;
}

table td img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}